header.main-header
    nav
      h1
        a#logo(href='/') Bloggy.
      ul.nav-items
        li
          a.nav-link(href='/posts') Posts
        li
          a.nav-link(href='/compose') Compose
        li
          a.nav-link(href='/about') About
        li
          img(src='/static/images/svg/light-bulb.svg')