extends layout.pug 

block content   
    main.about-main 
        h2 Bloggy — place to share your thoughts.
        p.warning 
          span Warning: 
          | this website was created by 00009987 to fulfill Web Technology module’s requirements and does not represent an actual company or service.
        p.about-link
          | You can read the documentaion of the website in 
          a(href='https://github.com/00009987/wt.cw2' target="_blank") github repository
