extends layout.pug 

block content
    form.flex.compose-form(method='POST')
        label(for='title') Title
        input#title(type='text' name='title' autocomplete='off' value = post.title)
        label(for='description') Description
        input#description(type='text' name='description' autocomplete='off' value = post.description)
        label(for='author') Author
        input#author(type='text' name='author' autocomplete='off' value = post.author)
        label(for='post') Post
        textarea#post(name='post' cols='30' rows='5')= post.post
        button(type='submit') Update
