extends layout.pug

block content
    main.home-main.flex
        section.flex 
            h2 Welcome to the Blog Society
            p ... where it is possible to write anything
            .btn-links
                a(href='/compose') Write a post
                a(href='/posts') Read posts    

    footer.flex
        p
            | This website was created by 
            a(href='https://github.com/00009987/wt.cw2' target='_blank') 00009987
            | &#x9;&#x9;&#x9;&#x9;to fulfill Web Technology module&rsquo;s requirements and does not represent
            | &#x9;&#x9;&#x9;&#x9;an actual company or service.
