extends layout.pug

block content
    main.home-main.flex
        section.flex 
            h2 Welcome to the Blog Society
            p ... where it is possible to write anything
            .btn-links
                a(href='/compose') Write a post
                a(href='/posts') Read posts    
