extends layout.pug 

block content
    main.single-post-main
        section.single-post-section
            h3= post.title 
            div
                p.author= post.author
                p.date Created on #{post.date}
            p.post= post.post
            .controls
                a.edit(href='/posts/post_' + post.id + '/edit' ) Edit
                a.delete(href='/posts/post_' + post.id + '/delete') Delete